/* ===== FONTS ===== */
@font-face {
    font-family: "Open Sans";
    src: url("fonts/Open_Sans.ttf");
}


/* Text styles */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    background-color: white;
    color: black;
}

h1 {
    margin: 16px 0;
    padding: 0;
    font-size: 48px;
}

h2 {
    margin: 16px 0;
    padding: 0;
    font-size: 32px;
}

p {
    margin: 16px 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.justify_right {
    text-align: right;
}

/* Box highlighting */
.box {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px black;
    padding: 4px;
}

/* Centered content box */
.content_outer {
    margin: 0 auto;
    padding: 4px;
    max-width: 800px;
}

.content_inner {
    margin: 8px 16px;
    padding: 0;
}

/* Inline side-by-side content */
.sbs {
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 4px;
    width: 100%;
    margin: 0;
    padding: 4px 0px;
    overflow: hidden;
}

.sbsc {
    box-sizing: border-box;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 8px;
    word-wrap: break-word;
    overflow: hidden;
}

/* Inline menus and buttons */

.inline_button {
    cursor: pointer;
    margin: 4px 0px;
    padding: 6px 10px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    transition-duration: 300ms;
}

.inline_button:hover {
    background: black;
    color: white;
}

/* Dividers and spacers */
.divider {
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 24px;
    margin-bottom: 20px;
}

.spacer {
    width: 100%;
    height: 1px;
    margin-top: 24px;
    margin-bottom: 20px;
}
